.markdown a {
  color: #0080ff;
  text-decoration: underline;
}
.markdown a:hover {
  opacity: 0.7;
}

.markdown ul li {
  list-style: inside;
  margin-top: 5px;
}

.markdown h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
  padding: 10px 0 10px 0;
}
